.github/**
.vscode/**
.vscode-test/**
coverage/**
dist/**
docs/**
media/**
node_modules/**
scripts/**
src/**
tests/**
.gitignore
.vscodeignore
CONTRIBUTING.md
LICENSING.md
ROADMAP.md
SECURITY.md
eslint.config.mjs
jest.config.js
package-lock.json
tsconfig.json
**/*.map
**/*.ts
**/*.tsx
